.ts {
  position: absolute;
  width: auto;
  height: auto;
  left: 85%;
  top: 25%;
  filter: drop-shadow(-4px -4px 4px rgba(0, 0, 0, 0.25));
}
.bottom {
  position: absolute;
  bottom: 34%;
  margin: 0%;
  left: 3%;
  filter: drop-shadow(-4px -4px 4px rgba(0, 0, 0, 0.25));
}
.footer {
  position: absolute;
  margin: 0%;
  left: 5%;
  bottom: 0px;
  top: 570px;
  filter: drop-shadow(-4px -4px 4px rgba(0, 0, 0, 0.25));
}
