ul{
    margin:0;
    padding:0;list-style-type: none;
    overflow: hidden;
    background-color:lightblue;
}

li{
    float:left;
    padding :7px;
    color: black;
   
}

li:hover{
    background-color: lightgoldenrodyellow;
    color:black
}
#demo1{
    width:100%
}
#siy{
    background-color:#4CAF50;
    color:white;
   
    margin-right: 0px;
}
#demo{
    float:right;
    width: 100%;
} 
avail{
    float: left;
    
}
button{
    color:white;
   background-color: #4CAF50;
    padding:15px 25px;
    cursor: pointer;
    display: inline-block;
    border-radius:20px;
    border: black;
}

.avail{
    background-color: navy;
    color:whitesmoke

}
.add{
    width:320;
    height: 240;
}
#write{
    color:navy
}
#adds{
    float:left
}
.add{
    padding-left: 50px;
    padding-right: 50px;
    font-family: "Lato",sans-serif ;
    font-size: 25px;
    font-weight: 400;
}
body{
   background-image: url("../Images/ha.png");
   min-height: 100%;
   background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#btn{
    width:80%;
    color:black;
    background-color: yellow;
    padding:15px 25px;
    cursor: pointer;
    display: inline-block;
    border-radius:20px;
    border: black;
}
#image{
    float:center
}
#btn-btn{
    width:90%;
    color:black;
    background-color: yellow;
    padding:15px 25px;
    cursor: pointer;
    display: inline-block;
    border-radius:20px;
    border: black;
}
.investing{
    float:right
    
}
.invest image{
    float: center;
}
#final{
    font-size: 100px;
    color:navy
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  
